


  /* Fundo geral da página */
body {
    background-color: #000;
    color: #00FF00;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Texto principal com efeito de digitação */
.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #00FF00;
    font-size: 2em;
    animation: typing 3s steps(30, end) 1s 1 normal both, blink-caret 0.75s step-end infinite;
}

/* Animação de digitação */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Animação do cursor piscando */
@keyframes blink-caret {
    50% { border-color: transparent; }
}

/* Botão "Iniciar Missão" com efeito de piscar */
.blink-button {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    color: #00FF00;
    background-color: #000;
    border: 2px solid #00FF00;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2em;
    text-shadow: 0 0 3px #00FF00;
    animation: blink 1s step-start infinite;
    transition: 0.3s;
}

/* Animação de piscar do botão */
@keyframes blink {
    50% { opacity: 0; }
}

/* Estilo ao passar o mouse no botão */
.blink-button:hover {
    background-color: #00FF00;
    color: #000;
    text-shadow: none;
}

input[type="text"],
textarea {
  background-color: #333; /* cinza escuro */
  color: #0f0; /* verde estilo terminal */
  border: 1px solid #0f0;
  padding: 5px;
  font-family: monospace;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #555;
}

input[type="text"]:focus,
textarea:focus {
  background-color: #333;
  outline: none;
}

input[type="submit"] {
    background-color: #00ff00; /* verde Matrix */
    color: #000; /* texto preto */
    border: 1px solid #00ff00;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    font-family: monospace;
  }
  
  input[type="submit"]:hover {
    background-color: #0f0;
    color: #000;
  }
  